/* Media Queries */

@media screen and (min-width: 378px) {

  .LI-profile-badge {
    margin: 0 auto;
    width: 85%;
  }
}

@media screen and (min-width: 768px) {

  header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  } 
  header h1 {
    display: inline;
    padding: 20px 20px;
    text-align: left;
  }

  nav {
    display: inline-block;
  }

  header nav a {
    color: #777777;
    padding: 28px 20px;
    text-decoration: none;
  }

  .about-me-content {  
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly; 
  }

  .linkedin-badge-small {
    display: none;
  }

  .linkedin-badge-large {
    display: block;
    width: 40%;
  }

  .about-me-description {
    width: 55%;
  }

  /* Portfolio Section Styles */

  .portfolio-section {
    width: 100%;
  }

  .portfolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0 auto; */
    /* width: 100%; */
  }

  .portfolio-card {
    background-size: cover;
    width: 47%;;
    height: 300px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 980px) {
  
  .container-fluid {
    margin-left: 5%;
    width: 980px;
  }

  main .container {
    margin-left: 5%;
    width:980px;
  }

  .linkedin-badge-large {
    width: 30%;
  }

  .about-me-description {
    width: 65%;
  }
}