/* Main Styles */
body {
  background-color: #e1e8f0;
  color: #777777;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.page-container {
  min-height: 100%;
  position: relative;
}

header {
  background-color: #ffffff;
  border-bottom: 1px #cccccc solid;
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
}

header h1 {
  background-color: #008CC9;
  font-family: Georgia, Times, Times New Roman, serif;
  opacity: 0.8;
  padding: 20px 0;
  text-align: center;
}

header h1 a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

nav {
  padding: 20px 0;
  text-align: center;
}

header nav a {
  color: #777777;
  padding: 20px 20px;
  text-decoration: none;
}

header nav a:hover {
  background-color: #303336;
  color: #ffffff;
  opacity: 0.8;
}

main {
  padding: 20px 0 115px 0;
}

main .container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px 0 10px 0;
  width: 90%;
  max-width: 980px;
}

main .title {
  color: #008CC9;
  font-size: 1.75rem;
  font-weight: bold;
  opacity: 0.8;
  padding: 0 0 0 20px;
}

main .ruler {
  border-bottom: 1px #cccccc solid;
  margin: 0 20px;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
}

.linkedin-badge-small {
  margin: 30px auto 10px auto;
  width: 80%;
}

.linkedin-badge-large {
  display: none;
  margin: 30px auto 10px auto;
}

.LI-profile-badge {
  margin: 0 auto;
  width: 90%;
}

.about-me-description {
  margin: 20px auto;
  width: 90%;
}

.about-me-description h1 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 20px 0;
}

.about-me-description p {
  line-height: 1.5;
  padding: 20px 0;
  width: 90%;
}

.social {
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.social a {
  border: 1px #777777 solid;
  border-radius: 5px;
  color: #777777;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 10px 10px;
}

.social a span {
  padding-left: 40%;
}

.social a:hover {
  padding: 15px 15px;
  transition: 0.10s ease-out;
  box-shadow: 0px 0px 10px 5px #cccccc;
} 

footer {
  background-color: #303336;
  color: #ffffff;
  font-size: 0.8rem;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-ruler {
  border-top: 5px solid #008CC9;
  margin-bottom: 10px; 
}
/* Contact Me Page Styles */

form {
  margin: 30px auto;
  width: 90%;
}

form input {
  display: block;
  margin: 10px 0 15px 0;
  padding: 5px;
  width: 96%;
}

form textarea {
  display: block;
  margin: 10px 0 15px 0;
  width: 96%;
}

.btn-submit {
  background-color: #008CC9;
  color: #ffffff;
  display: inline-block;
  margin: 5px 0;
  padding: 10px;  
}

.btn-submit:hover {
  background-color: #303336;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.8;
}

/* Portfolio Page Styles */

.portfolio-section {
  margin: 20px auto;
  width: 90%;
}

.portfolio-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  width: 96%;
}

.portfolio-card {
  background-size: cover;
  width: 100%;;
  height: 300px;
  margin: 20px 0;
}

.landing-page {
  background-image: url('../images/landing-page.jpg');
  background-size: cover;
}

.weather-log {
  background-image: url('../images/weather-log.jpg');
  background-size: cover;
}

.transcript-agent {
  background-image: url('../images/ai-transcript.jpg');
  background-size: cover;
}

.text-sense {
  background-image: url('../images/text-sense.jpg');
  background-size: cover;
}

.travel-easy {
  background-image: url('../images/travel-made-easy.jpg');
  background-size: cover;
}

.resume-rank {
  background-image: url('../images/resume.jpg');
  background-size: cover;
}

.portfolio-card h1 {
  background-color: #008CC9;
  color: #ffffff;
  opacity: 0.8;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  top: 265px;
}

